.navbar-static-top {
  background-color: #ff9900;
  height: 1em;
}

.bukus-nav {
  margin-top: -0.4em;
}

.strib-baris-navbar {
  margin-top: -0.3em;
}

.strib-baris-navbar:hover {
  background-color: aqua;
}

.logo {
  background-color: #ff9900;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  /* color: #ff9900; */
  background-color: #ff9900;
}

.skin-blue .main-header .logo {
  background-color: #ff9900;
}

.skin-blue .main-header .navbar {
  background-color: #ff9900;
}
